<!DOCTYPE html>
<html>
<head>
  <title>JsLogger</title>
  <%= stylesheet_link_tag    "js-logger/application", :media => "all" %>
  <%= javascript_include_tag "js-logger/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
